header.general.xml
header.net.xml
mkheader.sh

misc/polygen.sh

scenario/xml2csv.sh
scenario/*.log
scenario/*.csv
scenario/*.summary.xml
scenario/*.tripinfo.xml
scenario/e1_*.xml

pedestrian/*

zones/*
